<h1>Create Choral Part</h1>

<div class="mui-container-fluid mui-panel" style="overflow-x:auto">
    <form>
      <div class="mui-textfield">
          <input type="text" ng-model="object.Code" placeholder="Code"  />
          <label>Code</label>
      </div>

      <div class="mui-textfield">
          <input type="text" ng-model="object.Name" placeholder="Name"  />
          <label>Name</label>
      </div>


      <button type="submit" ng-click="save()" class="mui-btn mui-btn--raised mui-btn--primary">Create</button>
    </form>
</div>
